$amarillo: rgb(238, 230, 13);
$turquesa: rgb(137, 210, 220);

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  //margin-top: 10px;
  height: 80vh;

  h1 {
    font-size: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    background-color: $turquesa;
    border-radius: 10px;
    font-size: 14px;
    color: white;

    form {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        padding: 10px;
        margin-bottom: 10px;
      }

      button {
        padding: 7px;
        margin-top: 10px;
        background-color: white;
        border: 2px solid $amarillo;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          background-color: $amarillo;
        }
      }
    }
    .error {
      color: red;
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
    }
    .success {
      color: green;
      margin-top: 10px;
      font-size: 14px;
      text-align: center;
    }
  }

  p {
    font-size: 13px;
    text-align: center;
  }
}
