@import "../../responsive.scss";

.layout {
  //height: 100vh;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;

  @include lg {
    //background-color: lightblue;
  }
  @include md {
    max-width: 75vw;
    //background-color: lightgreen;
  }
  @include sm {
    max-width: 95vw;
    //background-color: lightpink;
  }

  .content {
    flex: 1;
  }
}
