@import "../../responsive.scss";

$amarillo: rgb(238, 230, 13);
$turquesa: rgb(137, 210, 220);

.searchBar {
  form {
    border: 1px solid #676767;
    display: flex;
    justify-content: space-between;
    height: 45px;
    gap: 5px;
    width: 100%;

    @include sm {
      flex-direction: column;
      height: auto;
      //margin-bottom: 20px;
    }

    input {
      border: none;
      padding: 0 10px;
      //width: 100%;
      //width: 180px;
      flex: 4;

      &:nth-child(2),
      &:nth-child(3) {
        flex: 2;
      }

      @include lg {
        padding: 0px 5px;
      }

      @include md {
        width: auto;
        padding: 15px;
      }
    }

    button {
      padding: 13px 20px;
      border: none;
      cursor: pointer;
      background-color: $turquesa;
      transition: all 0.4s ease;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $amarillo;
      }
    }
  }
}
